* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  }

body {
background-color: #dcdcdc;
}

/* Área central */
.interface {
max-width: 1280px;
margin: 0 auto;
}

/* ===== Cabeçalho ===== */
header {
padding: 40px 4%;
background-color: #fff;
box-shadow: 0 0 8px rgba(0,0,0,0.15);
}

header .interface {
display: flex;
align-items: center;
justify-content: space-between;
}

header a {
color: #4d4d4d;
text-decoration: none;
transition: 0.2s;
}

header a:hover {
color: #000;
transform: scale(1.05);
}

header nav ul {
list-style: none;
}

header nav ul li {
display: inline-block;
padding: 0 40px;
}

header .btn-contato button {
padding: 10px 40px;
font-size: 18px;
font-weight: 700;
background-color: #b5b5b5;
border: 0;
border-radius: 30px;
cursor: pointer;
transition: 0.3s;
}

header .btn-contato button:hover {
background-color: #9e9e9e;
transform: scale(1.02);
}

/* ===== TOPO DO SITE ===== */
.topo-do-site {
padding: 60px 4%;
}

/* as frases em cima e carrossel embaixo */
.topo-conteudo {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 30px;
text-align: center;
}

.txt-topo-site h1 {
font-size: 38px;
font-weight: 600;
color: #000;
}

.txt-topo-site p {
margin: 20px 0;
font-size: 18px;
}

/* ===== CARROSSEL ===== */
.carrossel {
 width: 95%;
    max-width: 910px;
    border: 5px solid #000;
    padding: 15px;
    overflow: hidden; /* impede scroll manual */
    display: flex;
}
.slides {
display: flex;
gap: 20px;
animation: slide 15s linear infinite; /* passa automaticamente */
}

@keyframes slide {
0% { transform: translateX(0); }
100% { transform: translateX(-50%); } /* ajuste conforme a quantidade de cards */
}

.card {
width: 180px;
height: 180px;
background: cornflowerblue;
color: white;
font-size: 3rem;
border-radius: 12px;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
}

/* Faz a imagem preencher o card */
.card img {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 12px;
display: block;
}

/*Lilian*/

.quem-somos {
    background-color: #f4f6f8;
    padding: 60px 20px;
    font-family: Arial, sans-serif;
    margin-top: 20px; 
}

.quem-somos .container {
    max-width: 1100px;
    margin: 0 auto;
    text-align: justify;
    
}

.quem-somos h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
    
}

.quem-somos  .descrcao.descrição {
    font-size: 20px;
    color: #0e0d0d;
    margin-bottom: 40px;
    line-height: 1.6;
    
}

.cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    text-align: justify;
    justify-content: center;
    margin-top: 25px;
}

.card {
    background: #ffffff;
    padding: 25px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    
}

.card h3 {
    color: #0b0c0c;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
}

.card p {
    color: #555;
    line-height: 1.5;
    position: relative;
    z-index: 1;
}

/*tentando corrigir a box-shadow*/

.card h3 {
    font-size: 15px;      /* reduz o tamanho da fonte */
    margin-bottom: 10px;  /* diminui o espaçamento */
    color: #030303;
    line-height: 1.2;     /* melhora a quebra de linha */
    word-break: break-word; /* evita estouro da caixa */
    position: relative;
    z-index: 1;
}

.card {
  font-size: 15px;
  color: #0e0d0d;
  margin-bottom: 40px;
  line-height: 1.6;
  flex-direction: column;

}


/* Estilos da Seção de Contato - Parte da Bruna */

html {
    scroll-behavior: smooth;
}


.contato-secao {
    background-color: #f4f6f8; 
    padding: 60px 20px;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

.contato-secao .interface {
    max-width: 1100px;        
    margin: 0 auto;
    text-align: center;       
}

.contato-secao h2 {
    font-size: 38px;          
    color: black;
    margin-bottom: 20px;
}

.contato-secao .descricao {
    font-size: 16px;
    line-height: 1.6;
    color: #444;
    margin-bottom: 30px;
    max-width: 800px;         
    margin-left: auto;
    margin-right: auto;
}



.container-botoes {
    display: flex;
    justify-content: center; 
    gap: 20px;              
    margin-top: 30px;
}


.container-botoes button {
    padding: 12px 30px;
    border-radius: 30px;
    border:black;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    color: white;
}

.btn-wpp, .btn-insta {
    background: #333;
    color: white;
    transition: background 0.5s ease, transform 0.1s ease;
}

.btn-wpp:hover {
    background: linear-gradient(45deg, #25d366, hsl(144, 100%, 10%));
}

.btn-insta:hover {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
}

.container-botoes a:hover {
    transform: scale(1.10);
    opacity: 0.9;
}

.container-botoes {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.container-botoes a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
}
